.containerConteudo {
  padding: 40px 8%;
}

.titulo h2 {
  font-family: var(--fonte-spartan);
  font-size: 35px;
  margin-bottom: 1rem;
}

.texto p,
.infoColetadas p,
.listaInformacoes ul,
.listaInformacoes p,
.compartilhamentoInfo p,
.contatoPrivacidade p {
  font-family: var(--fonte-roboto);
  text-align: justify;
}

.listaInformacoes ul {
  list-style-type: circle;
  margin: 1rem;
}

.listaInformacoes ul li {
  padding: 2px;
}

.infoColetadas h2,
.compartilhamentoInfo h2,
.contatoPrivacidade h2 {
  margin: 3rem 0 1rem 0;
  font-family: var(--fonte-spartan);
}

@media only screen and (min-width: 768px) {
  .containerConteudo {
    padding: 40px 20%;
  }
}

@media only screen and (min-width: 1920px) {
  .containerConteudo {
    padding: 60px 30%;
  }
}
