.containerPrincipalServicos {
  padding: 40px 8%;
}

.conteudoServicos {
  text-align: justify;
}

.tituloServicos {
  font-family: var(--fonte-spartan);
  margin-bottom: 1rem;
  font-size: 20px;
}

.textoServicos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 24px;
  font-family: var(--fonte-roboto);
}

.containerTabela {
  margin-top: 2rem;
}

table {
  width: 100%;
}

table th {
  font-family: var(--fonte-spartan);
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

table td {
  text-align: center;
  font-family: var(--fonte-roboto);
  padding: 10px 5px;
}

@media only screen and (min-width: 768px) {
  .containerPrincipalServicos {
    padding: 5% 20%;
  }

  table th {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .containerPrincipalServicos {
    padding: 2% 30%;
  }
}
