.containerBotaoCertificados {
  margin: 2rem 8% 0 8%;
}

.containerBotaoCertificados button {
  width: 100%;
  border: 0;
  background-color: var(--cinza);
}

.containerBotaoCertificados button a {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 15px;
  font-size: 16px;
  text-decoration: none;
  color: var(--preto);
}

.containerBotaoCertificados button a:active {
  background-color: #94949444;
}

.iconeCertificado {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .containerBotaoCertificados {
    margin: 2rem 0 0 0;
  }
}