.containerProjetosHome {
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 120px;
}

.projetoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  padding: 0% 8%;

}

.containerConteudoCard {
  text-align: justify;
  margin: 1rem 0;
}

.tituloProjeto h2 {
  font-size: 22px;
  font-family: var(--fonte-spartan);
}

.textoProjeto p {
  margin-top: 1rem;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--fonte-roboto);
  font-weight: 400;
}

.projetoImagem {
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
}

.projetoImagem:active {
  filter: grayscale(0%);
}

.iconeBotoesCard {
  font-size: 20px;
}

.containerBotoesLinks {
  display: flex;
  gap: 20px;
}

.containerBotoesLinks button {
  border: 0;
  width: 100%;
  background-color: var(--cinza);
}

.containerBotoesLinks button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--preto);
  font-size: 16px;
  text-decoration: none;
  padding: 15px;
  font-weight: 400;
}

.containerBotoesLinks button a:active {
  background-color: #94949444;
}

@media only screen and (min-width: 768px) {
  .containerProjetosHome {
    padding: 20px 20% 0 20%;
    margin: 0;
    padding-top: 160px;
  }

  .projetoCard {
    padding: 0;
  }

  .projetoImagem {
    width: 300px;
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .containerProjetosHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 20px 20%;
  }

  .projetoImagem:hover {
    transition: filter 0.5s ease-in;
  }

  .projetoImagem:hover {
    filter: grayscale(0);
  }
}

@media only screen and (min-width: 1920px) {
  .projetoImagem {
    width: 360px;
    height: 460px;
  }
}
